extends layout/index

block content 
    h1 CV
    //img(src="/img/stomas.png", alt="Universidad Santo Tomas", class="img-thumbnail", style="max-width: 50px")
    each edu in educacion 
        div
            img(src=edu.imagen, class="img-thumbnail", style="max-width: 50px")
            h3= edu.carrera 
            p= edu.institucion 
            p Año de ingreso: #{edu.año}